<div *ngIf="showDashHome">

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-block">

                        <h1 class="text-right"><span>{{ getTotalInc() | currency:'INR'}}</span></h1>
                        <p class="m-b-0">Income</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">

                        <h1 class="text-right"><span>{{ getTotalExp() | currency:'INR'}}</span></h1>
                        <p class="m-b-0">Expense</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-3">
                <div
                    [ngClass]="{'bg-c-red': (getTotalInc()-getTotalExp()) < 0, 'bg-c-blue':(getTotalInc()-getTotalExp()) >= 0}">
                    <div class="card order-card">
                        <div class="card-block">

                            <h1 class="text-right"><span>{{ getTotalInc()-getTotalExp() | currency:'INR'}}</span></h1>
                            <p
                                [ngClass]="{'mbb1': (getTotalInc()-getTotalExp()) >= 0, 'mbb':(getTotalInc()-getTotalExp()) < 0}">
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-violet order-card">
                    <div class="card-block">

                        <h1 class="text-right"><span>{{expense.length + income.length}}</span></h1>
                        <p class="m-b-0">Transactions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>