
<div *ngIf="showMePartially">
<ul *ngFor="let exp of expense">
    <!-- <li>{{ exp.expenseId }} -- {{ exp.category }} -- {{ exp.createdDate }} -- {{ exp.expenseAmount }} -- {{ exp.expenseDescription }}</li> -->
</ul>
<div class="container">
    <div class="card mt-5" style="align-items: center;">
      <h1>Add Expense</h1>
    </div>
  
    <div class="card mt-5" style="padding: 20px;">
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <div class="form-group">
          <label for="category">Category :</label>
          <input type="text" #category (ngModel)="category" name="category" id="category" class="form-control" placeholder="Category">
        </div>
        <div class="form-group">
          <label for="createdDate">Date :</label>
          <input type="date" #createdDate (ngModel)="createdDate" name="createdDate" id="createdDate" class="form-control"
            placeholder="Date of Expense">
        </div>
        <div class="form-group">
          <label for="expenseAmount">Amount :</label>
          <input type="number" #expenseAmount (ngModel)="expenseAmount" name="expenseAmount" id="expenseAmount" class="form-control"
            placeholder="Expense Amount">
        </div>
        <div class="form-group">
            <label for="expenseDescription">Description :</label>
            <input type="text" #expenseDescription (ngModel)="expenseDescription" name="expenseDescription" id="expenseDescription" class="form-control"
              placeholder="Description">
          </div>
        <div class="form-group">
          <input type="submit" value="Register" class="btn btn-primary w-100">
        </div>
      </form>
    </div>
  
    
   
  </div>
</div>
