<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Expense Management System
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="https://images.unsplash.com/photo-1598214886806-c87b84b7078b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=925&q=80" />

        <h4 class="name">Shivani Ganesh</h4>
        <p class="designation">Software Engineer</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>apps</mat-icon>
            <span>Dashboard</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span (click)="showExpenseTable()">transaction</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <!-- <div id="maincontent">
                <div contenteditable="false" id="one" style="resize:vertical;overflow:auto;border:1px solid darkgray;padding:10px;background-color:#FFFFFF;"></div>
                <div class="flex-container">
                    <div class="flex-child" contenteditable="false" id="two" style="resize:both;overflow:auto;border:1px solid darkgray;padding:10px;background-color:#FFFFFF;"></div>
                    <div class="flex-child" contenteditable="false" id="three" style="resize:both;overflow:auto;border:1px solid darkgray;padding:10px;background-color:#FFFFFF;"></div>
                </div>
            </div> -->
            <app-expense [showMePartially]="showVar"></app-expense>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>