

        <!-- <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput type="number">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput type="number">
          </mat-form-field> -->
          
          
          <!-- <mat-form-field appearance="fill">
              <mat-label>Amount</mat-label>
              <input  matInput type="number" >
              
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field> -->
          
          
            <div class="container">
              <div class="form-row">
          
              
                  <div class="form-group">
                      <label for="userId">UserId </label> 
                      <input type="number" class="form-control" id="userId" name="userId" [(ngModel)]="userData.userId" >
                          
                  </div>{{userData.userId}}
                  <div class="form-group">
                      <label for="fname">First Name </label> 
                      <input type="text" class="form-control"  id="fname" name="fname" [(ngModel)]="userData.fname"  >
                      
                          
                  </div>{{userData.fname}}
                  <div class="form-group">
                    <label for="lname">Last Name </label> 
                    <input type="text" class="form-control"  id="lname" name="lname" [(ngModel)]="userData.lname"  >
                    
                        
                </div>{{userData.lname}}
                  <div class="form-group">
                      <label for="email">Email </label> 
                      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userData.email"  >
                          
                  </div>{{userData.email}}
                  <div class="form-group">
                      <label for="password">Password </label> 
                      <input type="text" class="form-control" id="password" name="password" [(ngModel)]="userData.password">     
                  </div>{{userData.password}}
                  <div class="form-group">
                    <label for="phoneNumber">Phone Number </label> 
                    <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="userData.phoneNumber">     
                </div>{{userData.phoneNumber}}
                  
              </div>
              <div class="form-group">
              <button type="submit" (click)="userProfile()"value="update" class="btn btn-primary">UPDATE Profile</button>
              <button type="submit" (click)="deleteProfile(userData.userId)" value="delete" class="btn btn-danger">Delete Account</button>
              

              </div>
          
             
          
          </div>
          

        
          
            
  
