
  <div class="container" >
    <div class="form-row">

    
        <div class="form-group">
            <label for="category">Category </label> 
            <input type="text" class="form-control" id="category" name="fname" [(ngModel)]="expenseData.category" >
                
        </div>
        <div class="form-group">
            <label for="expDate">Expense Date </label> 
            <!-- <input type="text" class="form-control"  bsDatepicker [bsConfig]="datePickerConfig" id="expDate" name="lname" [(ngModel)]="expenseData.createdDate"  > -->
            
                
        </div>
        <div class="form-group">
            <label for="Amount">Amount </label> 
            <input type="number" class="form-control" id="Amount" name="lname" [(ngModel)]="expenseData.expenseAmount"  >
                
        </div>
        <div class="form-group">
            <label for="expenseDescription">Expense Description </label> 
            <input type="text" class="form-control" id="expenseDescription" name="lname" [(ngModel)]="expenseData.expenseDescription">     
        </div>
        
    </div>
    <div class="form-group">
    <button type="submit" (click)="editExpense()"value="update" class="btn btn-primary">UPDATE Expense</button>
    </div>

   

</div>


  