<div class="helpc text-center">

    
    <h1> Help and support </h1>
   <br/>
   <br/>
   <h2>Quick Task </h2>
   <p style="color:red"> Refresh the website to automatically solve any connection problems. </p>
   <p style="color:red"> Clear cache and history of your browser if page is not loading. </p>
   <p style="color:red"> Make sure your web browser is up to date </p>
   <p style="color:red"> Try a different web browser </p>
   <p style="color:red"> Check whether you are connected with wifi or having a working internet connection. </p>
   <br/>
   
   
   <h2> Contact us </h2>
   <p><strong>Chat with a Customer Specialist </strong> </p>
   
   <p> Have question ?Get live,real time with our customer support.</p>
   
   
   <h3> Call us </h3>
   <p> Get in touch just call 1-800-123-1800. </p>
   <p> You can also write to us at <strong>manage@expense.com</strong></p>
   <br/>
   <p><strong>Customer representative are avaiblable from 9:00am to 6:00pm,daily</strong> </p>
   </div>







<app-aboutus></app-aboutus>
