<div class="container">
  <Input type ="button" id="slide"  value={{btnValue}}>
</div>
<div class="container-fluid" id="box" style="display: none;">
  
  <div class="container">
    <div class="form-row">

      <form #addExpenseForm="ngForm">
        <div  class="form-group">
            <label for="category">Category </label> 
            <!-- <input type="text" class="form-control" id="category" name="category" [(ngModel)]="expenseData.category" > -->
            <select class="form-control" name="category" id="category" [(ngModel)]="expenseData.category" required #category="ngModel" [class.is-invalid]="category.invalid && category.touched">
              <option value=""></option>
              <option value="EMI">EMI</option>
              <option value="Rent">Rent</option>
              <option value="Internet">Internet</option>
              <option value="Groceries">groceries</option>
              <option value="Electricity">Electricity</option>
              <option value="Insurance">Insurance</option>
              <option value="Insurance">Shoping</option>
              <option value="Insurance">Entertainment</option>
              <option value="Insurance">Travelling</option>
              <option value="Other bills">Other bills</option>

          </select><small class="text-danger" [class.d-none]="category.valid || category.untouched">Category is required field</small>
          <br>
                
        </div>
        <div class="form-group">
            <label for="expDate">Expense Date </label> 
            <input type="date" class="form-control"   id="expDate" min="{{minDate}}"name="date" [(ngModel)]="expenseData.createdDate" required 
             #date="ngModel" [class.is-invalid]="date.invalid && date.touched">
            <small class="text-danger" [class.d-none]="date.valid || date.untouched">Date is required field</small>
            
                
        </div>
        <div class="form-group">
            <label for="Amount">Amount </label> 
            <input type="number" class="form-control" id="Amount" name="lname" [(ngModel)]="expenseData.expenseAmount"  required #amount="ngModel"
            [class.is-invalid]="amount.invalid && amount.touched"
                    ><small class="text-danger" [class.d-none]="amount.valid || amount.untouched">Amount is required field</small>
                
        </div>
        <div class="form-group">
            <label for="expenseDescription">Expense Description </label> 
            <input type="text" class="form-control" id="expenseDescription" name="lname" [(ngModel)]="expenseData.expenseDescription">     
        </div>
        
    
    <div class="form-group">
    <button type="submit" [disabled]="addExpenseForm.form.invalid" (click)="addExpense()"value="addexpense" class="btn btn-primary">Add Expense</button>
    </div></form>
  </div>

   

</div>



</div>



<div class="container mt">
  
<table class="table table-hover ">
  <thead class="bg-primary">
    <tr>
      <th scope="col">Expense Id</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exp of expenses">
      <td>{{ exp.expenseId }}</td>
      <td>{{ exp.expenseAmount }}</td>
      <td>{{ exp.category }}</td>
      <td>{{ exp.expenseDescription }}</td>
      <td>{{ exp.createdDate }}</td>
      
      <td>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button"  routerLink="/editexpense/{{ exp.expenseId }}" class="btn btn-success">Edit</button>
          <button type="button" (click)="deleteExpense(exp.expenseId)" class="btn btn-danger">Delete</button>
          
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>