<app-navbar></app-navbar>
<!-- just for testing purpose -->
<!-- <button>Toggle</button>   
<p>Hello</p>
<p style="display: none">Good Bye</p> -->

<!-- <button class="btn bg-primary" id="btn">Slide me</button>
<div [ngStyle]="{'width':'100%','height':'500px'} " class="bg-primary text-center text-info" id="box">
    Hello everyone
</div> -->
<app-expense></app-expense>
<router-outlet></router-outlet>
<!--<app-header></app-header>-->

<!-- <router-outlet></router-outlet> -->
<!--<app-sidebar></app-sidebar>-->
<!-- <app-dashboard></app-dashboard> -->
