<div class="container">
    <Input type ="button" id="slide1"  value={{btnValue}}>
  </div>
  <div class="container-fluid" id="box1" style="display: none;">
    
    <div class="container">
      <div class="form-row">
  
      
        <form #addIncomeForm="ngForm">
          <div class="form-group">
              <label for="Amount">Amount </label> 
              <input type="number" class="form-control" id="Amount" name="Amount" [(ngModel)]="incomeData.incomeAmount"  #amount="ngModel" required
              [class.is-invalid]="amount.invalid && amount.touched">
              <small class="text-danger" [class.d-none]="amount.valid || amount.untouched">Amount is required field</small>
                  
          </div>
          <div class="form-group">
              <label for="incomeDescription">Income Description </label> 
              <input type="text" class="form-control" id="incomeDescription" name="incomeDescription" [(ngModel)]="incomeData.incomeDescription" required #description="ngModel"
              [class.is-invalid]="description.invalid && description.touched"> 
              <small class="text-danger" [class.d-none]="description.valid || description.untouched">Income description is required field</small>    
          </div>
          
      
      <div class="form-group">
      <button type="submit" [disabled]="addIncomeForm.form.invalid" (click)="addIncome()"value="addIncome" class="btn btn-primary">Add Income</button>
      </div>
    </form>
  </div>
  
     
  
  </div>
  </div>
  


<div class="container mt">
  
    <table class="table table-hover ">
      <thead class="bg-primary">
        <tr>
          <th scope="col">Income Id</th>
          <th scope="col">Amount</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inc of incomes">
            <td>{{ inc.incomeId }}</td>
            <td>{{ inc.incomeAmount }}</td>
            <td>{{ inc.incomeDescription }}</td>
          
          <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button"  routerLink="/editIncome/{{inc.incomeId }}" class="btn btn-success">Edit</button>
              <button type="button" (click)="deleteIncome(inc.incomeId)" class="btn btn-danger">Delete</button>
              
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>