<div class="container-fluid">
    <div class="container-fluid" id="container1" >
        <img src="../assets/image/img (1).svg" alt="" id="img1">
        
          <div class="div-head1">
            <h1 class="header"> Becoming rich is hard. Staying broke is hard. Choose your hard.
                </h1>
          <h3 class="text-center">– Eric Worre</h3>
          </div> 
          <div class="div-head1">
            <h1 class="header"> ”Money is only a tool. It will take you wherever you wish, but it will not replace you as the driver.”
                </h1>
          <h3 class="text-center">– Ayn Rand</h3>
          </div> 
          <div class="div-head1">
            <h1 class="header"> “You don’t have to see the whole staircase, just take the first step.”
            </h1>
          <h3 class="text-center">Martin Luther King, Jr.</h3>
          </div>
          <div class="div-head1">
            <h1 class="header">”If we command our wealth, we shall be rich and free. If our wealth commands us, we are poor indeed.”
                 </h1>
          <h3 class="text-center">– Edmund Burke</h3>
          </div>
          <div class="div-head1">
            <h1 class="header"> “Too many people spend money they haven’t earned, to buy things they don’t want, to impress people that they don’t like.” 
                </h1>
          <h3 class="text-center">– Will Rogers</h3>
          </div>
         
      </div>
</div>
