<div class="bootstrap-wrapper">
    <div class="container">
        <div class="signup-form">
            <form>
                <div class="container text-center">
                    <img src="/assets/password.webp" 
                     class="img-fluid"
                     style="width: 150px;" alt="">
                </div>
                <h2 style="color: #1A1414">Reset Password</h2>
    
                <div class="form-group">
                    <input type="email" class="form-control" name="txtemail" placeholder="Enter your Email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="txtpw" placeholder=" New Password" required="required">
                    <small
                        id="passwordHelpBlock" class="form-text text-danger"
                        aria-describedby="passwordHelpBlock"> </small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="txtpw" placeholder=" Confirm Password" required="required">
                    <small
                        id="passwordHelpBlock" class="form-text text-danger"
                        aria-describedby="passwordHelpBlock"> </small>
                </div>
       
                <div class="form-group">
                    <label style="color: #1A1414" class="checkbox-inline"><input type="checkbox" required="required"> Stay signed in?</label>
                </div>
                <div class="form-group">
                    <button type="submit" name="action"  class="btn btn-primary">Reset</button>
                </div>
                <div class="text-center"><a routerLink="/login">Login Now</a></div>
            </form>
            
        </div>
    </div>
</div>
